/* Reset dasar untuk konsistensi */
* {
    margin: 50px;
    padding: 40px;
    box-sizing: border-box;
}
/* Body utama */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

